<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>My canvas</title>
	<link rel="stylesheet" type="text/css" href="style/style.css">
	<script type="text/javascript" src = "script/jquery.js"></script>
	<script type="text/javascript" src = "script/vector.js"></script>
	<script type="text/javascript" src = "script/coordinate.js"></script>
	<script type="text/javascript" src = "script/barriers.js"></script>
	<script type="text/javascript" src = "script/hero.js"></script>
	<script type="text/javascript" src = "script/event.js"></script>

</head>
<body>
	<div id="abHero1">
		<div class="block" id="first">
			<div class="heroName" id="f1"></div>
			<div class="heroAction">
				<p>Power</p>
				<p>Speed</p>
				<p>Attack</p>
			</div>
			<div id="actionH1" class="acH"></div>
		</div>
		<div class="block" id="second">
			<div class="heroName" id="f2"></div>
			<div class="heroAction">
				<p>Power</p>
				<p>Speed</p>
				<p>Attack</p>
			</div>
			<div id="actionH2" class="acH"></div>
		</div>
		<div class="clear"></div>
		<div id="moving">
			<label id="heroMove"></label><label> is moving</label>
			<label id="enemyWait"></label><label> is waiting</label>
		</div>

	</div>

	<img id="hero1" src="img/1.png" alt="The Scream" width="50" height="77" />
	<img id="hero2" src="img/2.png" alt="The Scream" width="50" height="77" />
	<img id="hero3" src="img/3.png" alt="The Scream" width="50" height="77" />
	<img id="hero4" src="img/4.png" alt="The Scream" width="50" height="77" />
	<img id="herodead" src="img/11.png" alt="The Scream" width="50" height="77" />
	<img id="herofight" src="img/10.png" alt="The Scream" width="50" height="77" />
	<img id="herowiz1" src="img/5.png" alt="The Scream" width="50" height="77" />
	<img id="herowiz2" src="img/6.png" alt="The Scream" width="50" height="77" />
	<img id="herowiz3" src="img/7.png" alt="The Scream" width="50" height="77" />
	<img id="herowiz4" src="img/8.png" alt="The Scream" width="50" height="77" />
	<img id="herowizdead" src="img/9.png" alt="The Scream" width="50" height="77" />
	<img id="herowizfight" src="img/12.png" alt="The Scream" width="50" height="77" />
	<img id="bar" src="img/barriers.jpg" alt="Barriers" width="40" height="40" />
	<img id="textures" alt="Textures" src="img/textures.jpg" width="1000" height="400" />
	<div id="heroForm">
		<form>
			<label class="w">Insert hero's name </label><input type = "text" name = "heroName"/><br />
			<label  class="w">Insert beginig hero's position</label><br />
			<label class="w"></label><label class="pos">X: </label><input type = "text" name = "x" size="6"/>
			<label>Y: </label><input type = "text" name = "y"  size="6" /><br />
			<label  class="w">Power: </label><input type = "text" name = "power" /><br />
			<label  class="w">Speed: </label><input type = "text" name = "speed" /><br />
		</form>	
	</div>
	
	<canvas id="myCanvas" width = "1000" height = "400"></canvas>
	<div id="winner"></div>
</body>
</html>